page-add-wallet {
    ion-content .scroll-content {
        margin-bottom: 67px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0 !important;
        overflow-y: hidden;
    }
    .aw {
        p.import-tip {
            font-size: 1.2rem;
            color: rgb(81, 85, 85);
            position: relative;
            right: 105px;
            margin-top: 30px;
            padding: 0;
        }
        ion-card.card-features {
            ion-list {
                margin-top: 2px;
            }
            display: block;
            width: 92%;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
            button {
                margin-bottom: 5px;
                width: 99%;
                border-radius: 8px;
                box-shadow: 1px 1px 1px 1px rgba(150, 163, 170, 0.5);
            }
        }
        .create-wallet-button {
            width: 92%;
            position: absolute;
            bottom: 100px;
            button {
                background: linear-gradient(270deg, rgb(47, 177, 213), rgb(50, 118, 217));
                color: aliceblue;
            }
        }
    }
}