page-create-wallet {
  .cw {
    text-align: center;

    .cw-name, .cw-wif, .cw-pwd {
      border: 1px solid #efefef;
      padding-left: 0;
      margin: 0;

      & .item-inner {
        border: none;
      }
    }

    & .scroll-content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 0 !important;
      overflow-y: hidden;


      .cw-tip {
        a {
          cursor: pointer;
        }
      }
    }

    .cw-button {
      button {
        width: 100%;
        background: linear-gradient(270deg, rgb(47, 177, 213), rgb(47, 177, 213) 6%, rgb(50, 118, 217));
      }
    }

    .cw-button-white  {
      button {
        width: 100%;
        background-color: #fff !important;
        border: 1px solid #448aff;
      }
    }
  }
}
